$theme-color:#5bc0de;
$theme-gray:#4b4b4b;
$gray: #808080;
$ash-gray: #EAEAEA;

$red: #FF0000;
$light-red:#f06060;
$pink: #FFCBDB;

$ash-purple: #CB99FF;
$purple: #CC63FF;
$dark-purple: #B34BFF;

$orange: #FF7F00;
$yellow: #FFFF00;

$green: #00FF00;
$main-green: #00647D;
$bright-green: #CCFF66;

$vegas-gold: #C5B358;
$gold: #FFDF00;
$blue: #0000FF;
$dark-cyan: #78cbfd;
$cyan: #00FFFF;
$dark-blue: #001A57;
$blue-gray: #6699CC;
$alice-blue: #F0F8FF;

$brown: #964B00;
$black: #000000;
$light-black:#292828;
$violet: #7F00FF;

$white: #FFFFFF;
$site-white:#fbfafa;